* 데이터 수집       
http://data.seoul.go.kr/dataList/OA-1170/S/1/datasetView.do

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# 그래프를 노트북 안에 그리기 위해 설정
%matplotlib inline

# 필요한 패키지와 라이브러리 가져온다.
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

# 폰트 지정하기
plt.rcParams['font.family'] = 'NanumBarunGothic'

# 데이터 수집

## 데이터프레임 생성
* csv 파일을 데이터프레임으로 만들기
* encoding='cp949'

In [2]:
df = pd.read_csv('01_data_KFO/생필품 농수축산물 가격 정보(2021년1월_6월).csv', encoding='cp949')

In [3]:
df

,일련번호,시장/마트 번호,시장/마트 이름,품목 번호,품목 이름,실판매규격,가격(원),년도-월,비고,시장유형 구분(시장/마트) 코드,시장유형 구분(시장/마트) 이름,자치구 코드,자치구 이름,점검일자
0,1673336,2,신세계백화점,133,무(세척무),1개,2980,2021-06,"국내산,세척무",2,대형마트,140000,중구,2021-06-24
1,1667985,228,방배종합시장,23,상추,1봉150g,1500,2021-06,국내산,1,전통시장,650000,서초구,2021-06-24
2,1666935,1,통인시장,266,"고등어(생물,국산)",1마리,4000,2021-06,"국내산,생물",1,전통시장,110000,종로구,2021-06-24
3,1671116,25,방학동도깨비시장,268,"고등어(냉동,국산)",350g,2500,2021-06,국내산,1,전통시장,320000,도봉구,2021-06-24
4,1667066,6,이마트 용산점,171,달걀(10개),15구,5980,2021-06,낭이생생대란,2,대형마트,170000,용산구,2021-06-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42694,1636118,226,롯데마트 구로점,171,달걀(10개),10개(600g),2990,2021-01,"국내산,특란",2,대형마트,530000,구로구,2021-01-21
42695,1636108,226,롯데마트 구로점,27,배,1개 (600g),1590,2021-01,"국내산,신고",2,대형마트,530000,구로구,2021-01-21
42696,1636114,226,롯데마트 구로점,312,애호박,1개 (300g),2790,2021-01,"국내산,청원",2,대형마트,530000,구로구,2021-01-21
42697,1636113,226,롯데마트 구로점,22,오이,1개 (200g),1190,2021-01,"국내산,백오이",2,대형마트,530000,구로구,2021-01-21
42698,1636121,226,롯데마트 구로점,302,명태,1마리(600g),1670,2021-01,"수입산,코다리,냉동",2,대형마트,530000,구로구,2021-01-21

## 결측치 확인

## 자료형 확인

# 데이터 확인

## 컬럼별 데이터 확인

## 시장/마트 목록

In [ ]:
# 시장/마트 목록

In [ ]:
# 시장/마트 목록

In [ ]:
# 자치구 별 시장/마트 갯수
df_market['자치구 이름'].value_counts()

In [ ]:
# 자치구 이름으로 시장/마트 확인

## 품목 목록

In [ ]:
# 품목 목록

In [ ]:
# 품목 이름 (30개씩 확인)

## 자치구 목록

## 시장 유형

# 삼겹살 가격 분석

## 삼겹살 데이터
* 특정 문자열이 포함되어있는지 확인 : .str.contains(문자열)

In [ ]:
# 2021-06 데이터 이용

In [ ]:
# 삼겹살 600g의 평균 가격은?

In [ ]:
# 삼겹살 600g의 최고 가격은?

In [ ]:
# 삼겹살 600g의 최저 가격은?

## 우리동네 삼겹살 가격

In [ ]:
# 우리구 삼겹살 가격

In [ ]:
# 시각화

## 마트 지점별 삼겹살 가격

In [ ]:
# 마트 지점별 삼겹살 가격

In [ ]:
# 시각화

# 달걀 가격 분석

## 달걀 데이터

In [ ]:
# 2021-06 데이터 이용

In [ ]:
# 달걀 30구 평균 가격

In [ ]:
# 달걀 최고 가격

In [ ]:
# 달걀 최저 가격

## 우리동네 달걀 가격

In [ ]:
# 우리구 달걀 가격

In [ ]:
# 시각화

## 마트 지점별 달걀 가격

In [ ]:
# 마트 지점별 달걀 가격

In [ ]:
# 시각화